body {
    font-family: 'Arial', sans-serif;
    background-color: #030eaa;  
    color: #C9D1D9;
}

h1 {
    color: #d10000;
}


a {
    color: #8B949E;
    text-decoration: none;
}

a:hover {
    color: #d5d800;
}

ul>li {
font-weight: lighter;
}

h1+p {
   background-color: #2cef00;
   padding: 10px;
   border-radius: 5px;
}

ul li:hover {
    color: #4F8CC9;
}

ul li:nth-child(3) {
   background-color: #21262D;
}

p:not(:first-of-type) {
    text-decoration:underline;
}

ul li::before {
    content: "";
}


a::after {
    content: ""
}

p::first-letter {
    font-size: 200%;
    color: #FF7B72;
}


